@page
@model Proiect_Moldovan_Sonia.Pages.Museums.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Museum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Museum.MuseumName" class="control-label"></label>
                <input asp-for="Museum.MuseumName" class="form-control" />
                <span asp-validation-for="Museum.MuseumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Museum.Location" class="control-label"></label>
                <input asp-for="Museum.Location" class="form-control" />
                <span asp-validation-for="Museum.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Museum.TicketPrice" class="control-label"></label>
                <input asp-for="Museum.TicketPrice" class="form-control" />
                <span asp-validation-for="Museum.TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
